.btn {
    display: flex;
    align-items: center;
    gap: .75rem;

    &-primary {
        --#{$prefix}btn-border-width: 0;

        @include gradient-directional( $primary, #5727af, 25deg );
    }

    &-secondary,
    &-outline-secondary {
        --bs-btn-color: #{$white};
        --bs-btn-active-color: #{$white};
    }

    &-check {
        &:checked + .btn {
            --bs-btn-active-bg: #{$secondary-600};
            --bs-btn-active-border-color: #{$secondary-500};
        }
    }
}