@font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans-Italic.woff2") format("woff2-variations");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: italic;
}

@font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans.woff2") format("woff2-variations");
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
}